.jumbotron {
  padding-top: 6rem;
  background-color: #cbdefc;
  width: 100%;
  height: 100vh;
  background-image: url(img/sengon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#projek {
  background-color: #cbdefc;
}

section {
  padding-top: 5rem;
}
